
.name{
  font-family: 'Julius Sans One', sans-serif;
    font-size: 32px;
  display: flex;
justify-content: space-between;
padding-left: 49px;
padding-top: 15px;
padding-right: 49px;

}

.nav{
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.horizontal-line {
  width: 95%;
  display: flex;
  align-content: center;
  height: 1px;
  background-color: rgb(255, 255, 255);
  margin: 10px 0px;

}
.line-container {
  display: flex;
  justify-content: center;
}
