.projects{
  margin-top: 100px;
  font-family: 'Geologica', sans-serif;  color: white ;
  display: flex;
  justify-content: center;
  font-size: 100px;
  background-image: linear-gradient(90deg, #59389c, #f90000);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}