.tech{
  width: 95%;
  height: 150px;
  margin-left: 40px;
  background-color: rgb(40, 39, 39);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.title{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: center;
}
.icon{
  padding: 25px;
}
.tech:hover{
  border-radius: 0px;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.icon:hover{
  zoom: 115%;
}