body {
  background-color: rgba(12, 36, 49, 1);
}
/* body::-webkit-scrollbar {
  display: none;
} */

.middle {
  display: flex;
  justify-content: center;
  height: 695px;
  z-index: 2;

}

.body {
  width: 1512px;
  justify-content: center;

}

.ellipse1 {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 817px;
  width: 703px;
  z-index: -1;
}

.ellipse2 {
  position: absolute;
  top: 80%;
  left: 0px;
  height: 1047px;
  width: 569px;
  z-index: -1;
}

.ellipse3 {
  position: absolute;
  top: 155%;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: .5;
  z-index: -1;
}


@media only screen and (max-width: 414px) {
 
  .middle {
    width: fit-content;
    display: flex;
    justify-content: center;
   
    z-index: 2;
    width: 414px;
  }
  
  .body {
    width: 414px;
    justify-content: center;
  
  }
  
  .ellipse1 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50%;
    width: 50%;
    z-index: -1;
  }
  
  .ellipse2 {
    position: absolute;
    top: 20%;
    left: 0px;
    height: 50%;
    width: 50%;
    z-index: -1;
  }
}

