.contact_title {
  width: 1091px;
  height: 193px;
  color: #E1DAD2;
  font-family: Roboto;
  font-size: 242px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px;
  letter-spacing: -2.42px;
  text-transform: uppercase;
  display: flex;
  justify-content: center
}


.contactForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.inputGroup {
  color: #E1DAD2;
  margin-bottom: 30px;
  position: relative;
  width: 500px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #E1DAD2;
  color: #E1DAD2;
  background: transparent;
  font-size: 20px;
  font-family: Roboto;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 19px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #E1DAD2;
  cursor: pointer;
  transition: 0.2s;
  font-family: Roboto;
}

button {
  width: 105%;
  padding: 10px 0px;
  color: #E1DAD2;
  outline: none;
  background: transparent;
  border: 1px solid #E1DAD2;
  cursor: pointer;
  font-family: Roboto;
}

button:hover {
  color: black;
  background-color: #E1DAD2;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .inputGroup {
  flex-basis: 48%;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin-left: 100px;

}

.info2 {
  display: flex;
  flex-direction: column;
width: 500px;
justify-content: center;

}

.title2 {
  color: #E1DAD2;
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px;
  /* 240% */
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.headers {
  color: #E1DAD2;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.25px;
  text-transform: uppercase;
}

.body {
  color: #FFF;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  /* 600% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  width: 100%;
}

.details {
  margin-bottom: 25px;
}