.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1400px;

}

.footer_container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  align-items: flex-end;

}

.top{
  cursor: pointer;
}