#dot {
  background: linear-gradient(to right, #ff8e8e, #ff006a);
  height: 50px;
  aspect-ratio: 1;
  position: fixed;
  border-radius: 50%; 
  pointer-events: none; 
  opacity: 0.5;
  filter: blur(10px);
  z-index: 100;
}
body{
  cursor: none;
}