html{
  scroll-behavior:smooth;
}

.logo {
  width: 246.8px;
  height: 22.308px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  z-index: 5;
  background-color: none;
}

.nav__bar {
  display: flex;
  height: 70px;
  z-index: 5;
  background-color: none;
  margin-top: 30px;
}

.nav {
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  color: rgba(225, 218, 210, 1);
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 5;
  background-color: none;
}
.nav:hover{
  color: white;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: pointer;
}


a {
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

}