html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
}

.logo {
  width: 246.8px;
  height: 22.308px;
}

.logo_container {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(100px);
  position: fixed;
  width: 100%;
  top: 0;
}

.nav__bar {
  display: flex;
  height: 70px;
  z-index: 5;
  background-color: none;
  margin-top: 30px;
}

.nav {
  margin-left: 50px;
  margin-right: 50px;
  height: 50px;
  color: rgba(225, 218, 210, 1);
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  z-index: 5;
  background-color: none;
  transition-duration: 4ms;
  transition-timing-function: ease-in-out;
}

.nav:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}


a {
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);

}

@media only screen and (max-width: 414px) {
  .logo {
    width: 80%;
    height: 10px;
    margin-top: 30px;
  }

  .logo_container {
    display: flex;
    align-items: center;
    width: 100px
  }


  .navbar {
    max-width: 414px;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    background-color: none;
    height: 0px;
  }

  .nav__bar {
    display: flex;
    height: 50px;
    z-index: 5;
    background-color: none;
    margin-top: 8px;
  }

  .nav {
    margin-left: 8px;
    margin-right: 8px;
    height: 30px;
    color: rgba(225, 218, 210, 1);
    text-align: center;
    font-family: Outfit;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    z-index: 5;
    background-color: none;
  }

}